{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Add New Password</h1>
    
    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label for="label">Label</label>
                    <input type="text" class="form-control" id="label" name="label" required>
                </div>
                <div class="form-group">
                    <label for="pass">Username</label>
                    <input type="password" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" id="pass" name="pass" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/management/password" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
